/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
/bootstrap/cache/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.phpunit.result.cache
/tests/Feature/*
/tests/Unit/*
.DS_Store
.phpintel/
.vscode/
.idea/
.fleet/
.phpunit.cache/
.env
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
